@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=JetBrains+Mono:wght@500&display=swap');

body {
  margin: 0;
  display: flex;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff8583, #9198e5);
  overflow: hidden;
}

#canvasParent {
  padding: 20px;
  border-radius: 12px;
  background: rgba(24,13,30,1);
  box-shadow: 0 20px 60px rgba(0,0,0,0.45);
  height: 75vh;
  place-items: center;
}

h1 {
  padding: 2px;
  color: #9198e5;
  text-align: center;
  font-size: 2em;
  margin: 10px 0 5px 0;
  text-shadow: 0 20px 60px rgba(0,0,0,1);
}

p {
  padding: 2px;
  color: #6e74b6;
  text-align: center;
  font-size: 1em;
  margin: 0 0 15px 0;
}

#elementLabel {
  padding: 2px;
  margin: 10px ;
  text-align: center;
  font-size: 1.5em;
  background: linear-gradient(to bottom right, #ff8583, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

#atnoInput {
  font-size: 1em;
  border: 2px solid #cbd5e0;
  border-radius: 10px;
  text-align: center;
}



